@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0b1412;
  color: #e5e7eb;
  transition: background 0.4s ease, color 0.4s ease;
}

.swiper-pagination-bullet {
  background: #e5e7eb !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  background: #28c76f !important;
}
